:root {
  --navbar-font-size: 2vw;
  --body-padding: 10vw;
  --logo-size: 100px;
  --medium-gap: 2vw;
  --main-color: red;
  --font-color: "#000";
  --background-color: #fff;
  --cards-gap: 1vw;
  --sections-gap: 2vh;
  --medium-padding: 2vh;
  --small-gap: 1vh;
  --small-padding: 0.5rem;
  --large-section-seperator: 10vh;
  --btn-font-size: 2rem;
  --btn-padding: 0.3rem;
  --medium-font-size: 1.4rem;
}