@font-face {
  font-family: "mainFont";
  src: url("/fonts/JameelNooriNastaleeqRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

.swiper-pagination-bullet {
  background: #121045 !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: #121045 !important;
}
